*{
    font-family: "anona", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.p1 p{
    margin: 10px;
    text-align:left;
    
}

.p2 p{
    margin: 10px;
    text-align:left;
    
}

main{
    flex-grow: 1;
}

main a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: #060126;
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

nav a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 90vw;
}

.sixtshareknop{
    height: 20vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(image/autoopladen.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mywheelsknop{
    height: 20vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(image/mywheels.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 10px;
}

.felyxknop{
    height: 20vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(image/scooters.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.sixtshareknop{
    font-family: "loos-normal", sans-serif;
    font-size: 50px;
    color: white;
    
}

.mywheelsknop{
    font-family: "loos-normal", sans-serif;
    font-size: 50px;
    color: white;
    
}

.felyxknop{
    font-family: "loos-normal", sans-serif;
    font-size: 50px;
    color: white;
    
}

/* Footer*/
.logofooter{ 
    height: 10vh;
    width: 70vw;
}

.footeronder{
    background-color: #060126;
    color: white;
    font-size: 10px;
    align-content: flex-end;
}

.footerboven{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #060126;
    margin-top: 30px;

}

footer ul{
    padding: 10px;
    list-style: none;
}

footer a{
    color: white;
    list-style: none;
    text-decoration: none;
}

/* pagina sixt */

.banner{
    background-color: grey;
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/autosixt.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.banner h1{
    font-family: "loos-normal", sans-serif;
    font-size: 50px;
    color: white;
}

.sixt{
    text-align: left;
}

.kop{
    font-family: "loos-normal", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.foto{
    object-fit: cover;
    width: 95%;
    height: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.app{
    display: flex;
}


.appfoto{
    background-color: grey;
    height: 40vh;
    width: 40vw;
    margin: 20px;
}

.p2 section{
    margin-bottom: 50px;
}


/* review page */

.p3{
    margin: 10px;
}

.review{
    background-color: rgba(157, 157, 157, 0.127);
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.review p{
    margin-left: 5px;
    margin-bottom: 5px;
}

.review div{
    margin: 5px;
}

.profile-container {
    overflow: hidden;
    border-radius: 50%;
    width: 75px; 
    height: 75px; 
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.ster{
    height: 20px;
    margin-left: 5px;
}

.p3 a{
    text-decoration: underline;
    display: flex;
    justify-content: center;
}



